BOT_TOKEN=**********:***********************************
ADMIN_ID=*********
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/cartography_bot
ANALYTICS_ENABLED=False
ANALYTICS_SOURCE=tg_bot
POSTGRES_DB=cartography_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
